.div_A {
    background-color: #e6b65d;
    width: 500px;
    height: 500px;
}

.div_B {
    background-color: #44d344;
    width: 50%;
    height: 50%;
}

.div_C_paragrafo {
    color: white;
    background-color: #ee4343;
    font-size: 25px;
    font-family: monospace;
    font-weight: bold;
}

.div_D {
    height: 50vh;
    width: 50%;
    background-color: rgb(0, 255, 255);
}

.div_E {
    width: 75vw;
    height: 50%;
    background-color: rgb(238, 80, 80);
}